body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.flexible-container{
    display: flex;
}
.intro-half{
    display: 50%;
    
}
.intro-half img{
    width: 50%;
    
}