body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 1px;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.intro-half{
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
}
.intro-half img{
    width: 90%;
    height: 100%;
    
}
h1{
    font-size: 40px;
}
.left-border-deco{
    padding-left: 5%;
    border-left: 5px solid;
    border-image: linear-gradient(orange,#f44336);
    border-image-slice:1;
}

.h1-orange{
    color: orange;
}
.button{
    text-decoration: none;
    background-color: #f44336;
    color: white;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
}
.make-margin{
    margin: 10%;
}
.alignment{
    text-align: center;
}
.one-third{
    width: 30%;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;

}
.one-third img{
    width: 50%;
}
#one-third-1{
    background-color: aquamarine;
}
#one-third-2{
    background-color: antiquewhite; 
}
#one-third-3{
    background-color: darkkhaki;
}
.feedback-form{
    border: 2px solid orange;
    padding-bottom: 5px;
}
.form{
    width: 90%;
    height: 80%;
    padding: 5px;
    
}
footer{
    padding: 5px;
    font-family:Courier New, monospace;
    text-align: center;
    color: white;
    background-color: black;
}